div(id="content", class="main")
	a(href="www.instagram.com/luisgotbars", title="Instagram de Luis", taget="_blank") Link hacia Instagram de Luis
	form(action="/login")
		button(type="submit", value="save")
div(class="hero-unit") Texto debajo de  división :D.